---
import "../styles/styles.css";
import Layout from "../layouts/Layout.astro";
import BtnCallToAction from "../components/Btn-call-to-action.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Contact | Deer Tech Services"
  description="Página de contacto con formulario para enviar un mensaje, ya sea por Email o WhatsApp"
>
  <Header />
  <div class="mx-auto text-center my-5">
    <h1 class="text-xl">Estamos listos para escucharte</h1>
    <h2 class="text-lg">
      Tu proyecto merece atención personalizada y soluciones reales.
    </h2>
  </div>

  <div
    class="max-w-md mx-auto my-10 p-2 rounded-xl bg-gray-800 shadow-sm shadow-gray-800"
  >
    <form
      id="contactForm"
      class="p-4 rounded-lg bg-linear-60 to-gray-900/90 from-gray-950/90 shadow-sm shadow-gray-800"
    >
      <h3 class="mb-6 text-lg">
        Envíanos un mensaje y nos pondremos en contacto contigo en menos de 24
        horas.
      </h3>
      <div class="mb-4">
        <label>
          Nombre * <br />
          <input
            class="rounded-sm w-full bg-gray-800 outline outline-white/8"
            type="text"
            id="name"
            name="name"
            required
          />
        </label>
      </div>

      <div class="mb-4">
        <label>
          Email * <br />
          <input
            class="rounded-sm w-full bg-gray-800 outline outline-white/8"
            type="email"
            id="email"
            name="email"
            required
          />
        </label>
      </div>

      <div class="mb-4">
        <label>
          Mensaje * <br />
          <textarea
            id="message"
            class="rounded-sm w-full bg-gray-800 outline outline-white/8"
            rows="4"
            cols="50"
            required></textarea>
        </label>
      </div>

      <div class="mx-auto text-center my-4">
        <button
          id="btnWhatsapp"
          type="button"
          class="px-4 py-2 mr-4 bg-linear-to-r to-blue-600 cursor-pointer from-indigo-600 rounded-2xl shadow
animate-pulse hover:animate-none"
        >
          Enviar WhatsApp</button
        >
        <button
          id="btnEmail"
          type="button"
          class="px-4 py-2 bg-linear-to-r to-blue-600 cursor-pointer from-indigo-600 rounded-2xl shadow
animate-pulse hover:animate-none"
          >Enviar Email</button
        >
      </div>
    </form>
  </div>

  <div class="mx-auto text-center my-10">
    <h2 class="text-2xl">
      ¿Tienes una idea o un problema técnico y no sabes por dónde empezar?
      Agenda una asesoría gratuita y descubre cómo podemos ayudarte.
    </h2>
    <BtnCallToAction href="https://calendly.com/deerhou/30min">
      Solicita una asesoría</BtnCallToAction
    >
  </div>
  <Footer />
</Layout>

<script>
  const inputName = document.getElementById("name")!;
  const inputEmail = document.getElementById("email")!;
  const inputMessage = document.getElementById("message")!;

  const btnWhatsapp = document.getElementById("btnWhatsapp")!;
  const btnEmail = document.getElementById("btnEmail")!;
  btnWhatsapp.addEventListener("click", sendWhatsApp);
  btnEmail.addEventListener("click", sendEmail);

  function getFormData() {
    let data = {
      name: "",
      email: "",
      message: "",
    };
    // instanceof HTMLInputElement
    if (
      inputName instanceof HTMLInputElement &&
      inputEmail instanceof HTMLInputElement &&
      inputMessage instanceof HTMLTextAreaElement
    ) {
      data = {
        name: inputName.value.trim(),
        email: inputEmail.value.trim(),
        message: inputMessage.value.trim(),
      };
    }
    return data;
  }

  function sendWhatsApp() {
    const { name, email, message } = getFormData();

    const whatsappMessage = `Hola, soy ${name} (${email}). ${message}`;
    const encodedMessage = encodeURIComponent(whatsappMessage);
    window.open(`https://wa.me/+593939384904?text=${encodedMessage}`, "_blank");
  }

  function sendEmail() {
    const { name, email, message } = getFormData();

    const subject = `Mensaje de ${name}`;
    const body = `Email: ${email}\n\nMensaje: ${message}`;
    window.location.href = `mailto:deerhou@gmail.com?subject=${encodeURIComponent(subject)}&body=${encodeURIComponent(body)}`;
  }
</script>
