---
import LinkBtn from "./Link-btn.astro";

import { calendly30min, whatsapp, email, facebook, linkedin } from "../assets/data/links";
---

<aside class="sticky z-10 top-1/4 bottom-0 right-2 ml-auto w-10">
  <div class="absolute flex flex-col gap-4 h-80">
    <LinkBtn
      href={calendly30min}
      icon="bi bi-calendar2-check-fill"
      hoverColor="group-hover:text-blue-600"
      tooltip="Agendamento"
    />
    <LinkBtn
      href={whatsapp}
      icon="bi bi-whatsapp"
      hoverColor="group-hover:text-emerald-600"
      tooltip="Conversemos"
    />

    <LinkBtn
      href={email}
      icon="bi bi-envelope-fill"
      hoverColor="group-hover:text-indigo-500"
      tooltip="Email"
    />
    <LinkBtn
      href={facebook}
      icon="bi bi-facebook"
      hoverColor="group-hover:text-blue-600"
      tooltip="Facebook Page"
    />
    <LinkBtn
      href={linkedin}
      icon="bi bi-linkedin"
      hoverColor="group-hover:text-blue-500"
      tooltip="LinkedIn"
    />
  </div>
</aside>
